---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = Object.values(
        import.meta.glob("../posts/*.md", { eager: true }),
    );

const tags = [... new Set(allPosts.map((post:any)=>post.frontmatter.tags).flat())].sort()

---

<BaseLayout pageTitle="Tags List">
  <p>Tags</p>
  <ul>
    {tags.map((tag: any) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>
</BaseLayout>
