---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { title, frontmatter } = Astro.props;
---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Navigation />
        <article class="post">
            <h1>{frontmatter.title}</h1>
            <slot />
        </article>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
